extends ../default

block content
    .container
        .card
            .card-content.blue.lighten-4
                .col.s12.center
                    btn.blue.waves-effect.waves-light
                    button(id="guess") guess
                    button(id="clear") clear
                .col.s12.center.blue.lighten-4.flex.justify-center
                    div(id='canvasContainer')
                    h3(id='res') 
                .col.s12.center
                    h5#result

block javascript
    script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/p5.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/addons/p5.dom.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.15.2")
    script(src='/js/sketch.js')